html, body, #root {
  height: 100%;
  margin: 0;
}
.contentbox {
  padding-top: 70px;
  display: flex;
  flex-flow: column;
  height: 100%;
}
.contentbox .row.content {
  flex: 1 1 auto;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.btn:hover  {
  background-color:  #0d4b8a;
  color:white;
}

.editable:hover {
  background-color: darkgray;
}
.clickable:hover {
  background-color: lightgray;
}
.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;


}